.App {
 /* text-align: center;*/
  margin-top: 50px;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.message_form {
  display: flex;
}
.message_text {
  padding-bottom: 10px;
}
.author {
  font-size: 18px;
  font-weight: bold;
}
.messages {
  margin-bottom: 25px;
}
.text_area {
  resize: none;
  font-family: sans-serif;
  border: 2px solid rgb(14, 50, 168);
}
.submit_button {
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
